@font-face {
  font-family: AkhandSoft;
  src: url(AkhandSoft-Regular.otf);
}

@font-face {
  font-family: gotham-black;
  src: url(gotham-black.otf);
}

body {
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-family: AkhandSoft;
}

.Hello-Website {
  background-color: rgb(250, 247, 243);
  padding: 1em;
}
